@tailwind base;
@tailwind components;
@tailwind utilities;

/* linking the externe font */
@font-face {
  font-family: 'Thicccboi';
  src: url('./font/THICCCBOI-Medium.ttf') format('truetype');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Thicccboi';
}
body {
  background-color: #F2F2F2;
}